.portfolio {
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 77vh;
  margin-top: 10rem;
}
.p-top-section {
  display: flex;
  flex-direction: column;
}
.p-top-section > * {
  font-size: 2.2rem;
}
.p-top-section span:nth-child(2) {
  color: orange;
}

.swiper {
  display: flex;
  box-shadow: var(--boxShadow);
}
.p-slide-item {
  box-shadow: var(--boxShadow);
}
