.e-report {
  display: flex;
  height: 30vh;
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.achivement {
  display: flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
}

.achivement span:nth-of-type(2) {
  color: var(--orange);
}

.circle {
  background: white;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-bottom: 2rem;
  position: relative;
  font-size: 25px;
  font-weight: Thin (Hairline);
  color: black;
}

.circle::before {
  border-radius: 100%;
  content: "";
  background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%);
  width: 6rem;
  height: 6rem;
  /* top: -8px;
  right: -8px;
  left: -8px;
  bottom: -20px; */
  position: absolute;
  z-index: -1;
  box-shadow: var(--boxShadow);
}


@media (max-width: 600px) {
  .e-report {
    display: flex;
    height: 60vh;
    /* margin-top: 6rem;
    margin-bottom: 6rem;
    padding-top: 10rem;
    padding-bottom: 10rem; */
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}